<div id = "comments=list">
    {{#commentDtos}} <!--if the number of commentDtos is more than 1, repeat-->
    <div class = "card m-2" id="comments-{{id}}">
        <div class="card-header">
            {{nickname}}
        </div>
        <div class="card-body">
        {{body}}
        </div>
    </div>
    {{/commentDtos}}
</div>