<!--just write "doc" on the clear page, the basic format appears-->
{{>layouts/header}}

<!-- content -->
<div>
    <h2>"Welcome to the HG.Seo's Blog"</h2>
    <img src="../img/skyImage.jpg" class="img-fluid" alt="sky">
</div>

{{>layouts/footer}}